{% extends 'base.html.twig' %}

{% block body_class %}explore{% endblock %}

{% block background_image %}style="background-image: url({{ asset('build/images/map_background.png') }});"{% endblock %}

{% block content %}
    {% include "mock-up/_partials/_nav_search.html.twig" %}
    <button type="button" class="btn btn-sm mission-dot" data-toggle="popover" title="Katedralskolens mobilitets mission" data-content="<p class='text-primary'>Den sundeste vej i skole<br/><i class='fas fa-map-marker-alt mr-1'></i>Værkmestergade 2, 8000 Aarhus C</p><p>Der kan være stor forskel på hvilken transportform du vælger i aarhus.</p><a href='/mock-up/explore-mission' class='btn btn-primary btn-sm btn-block'>Vis mission</a>" style="position: absolute; top: 50%; left: 50%;"></button>
    {% include "mock-up/_partials/_add_new_mission.html.twig" %}
{% endblock %}
