@import '../custom-variables';
@import '~bootstrap/scss/carousel';
@import '~bootstrap/scss/buttons';


.carousel-indicators {
  position: static;

  li {
    background-color: $body-color;
    border-radius: 50%;
    height: $spacer * 0.75;
    width: $spacer * 0.75;
  }
}
