<article class="row mb-3">
    <div class="col-auto">
        <p class="small mb-0 text-primary-faded pt-1">{{ date_time }}</p>
        <span class="badge badge-pill badge-sm badge-{% if type == 'User' %}primary-400{% elseif type == 'system'%}primary-200{% else %}primary-300{% endif %}">{{ type }}</span>

    </div>
    <div class="col">
        <p>{{ message }}</p>
    </div>
</article>
