{% set nav_mission_themes = {
    'mission-1': {title: "The Brewery", url: "#"},
    'mission-2': {title: "How It’s Made", url: "#"},
    'mission-3': {title: "What’s On Tap", url: "#"},
} %}

<div class="search w-50">
    <div class="navbar navbar-light p-0 justify-content-start bg-light rounded-sm shadow-sm">
        <button class="btn btn-light w-25" type="button" data-toggle="collapse" data-target="#navbarMissions" aria-controls="navbarMissions" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <form class="form-inline w-75">
            <input class="form-control border-0 bg-light form-contol-sm w-75" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-sm w-25" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <div class="collapse navbar-collapse" id="navbarMissions">
            <ol class="navbar-nav">
                {% for item in nav_mission_themes %}
                    <li class="list-item"><a href="{{ item.title }}" class="nav-link">{{ item.title }}</a></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
