{% extends 'base.html.twig' %}

{% block title %}Edit Experiment{% endblock %}

{% block content %}
    <h1>Edit Experiment</h1>

    {{ include('experiment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('experiment_index') }}">back to list</a>

    {{ include('experiment/_delete_form.html.twig') }}
{% endblock %}
