{% extends 'base.html.twig' %}

{% block title %}IoT Crawler App{% endblock %}

{% block content %}
    <ul class="nav flex-column">
        {% for url, text in {
            (path('theme_index')): 'Themes'|trans,
            (path('mission_index')): 'Mission'|trans,
            (path('mockup', {path:''})): 'Mock-up'|trans,
            } %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url }}">{{ text }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
