{% extends 'base.html.twig' %}

{% block title %}IoT Crawler App{% endblock %}

{% block content %}
    <a class="btn btn-primary btn-lg btn-block" href="{{ path('app') }}">{{ 'App'|trans }}</a>
{% endblock %}
