@import '../custom-variables';
@import '../base';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/modal';

@import '~leaflet/dist/leaflet';

.map {
  height: 100vh;
  width: 100vw;
}

.map-marker-icon {
  box-shadow: $box-shadow-sm;
  color: $primary;

  &.map-marker-icon-hidden {
    opacity: 0.3;
  }
}

.leaflet-control-layers {
  background-color: $white;
  box-shadow: $box-shadow;

  &.leaflet-control-layers-expanded {
    width: 50vw;
  }
}

.leaflet-control-layers {
  .leaflet-control-layers-toggle {
    background-image: none;
    height: $sizer * 2.5;
    width: $sizer * 3;
  }
}

.leaflet-control-layers-toggle {
  &::before {
    color: $dark;
    content: '\2015 \A \2015 \A \2015';
    display: inline-block;
    font-size: $font-size-base * 1.75;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 0.25;
    padding-bottom: $sizer * 0.45;
    padding-left: $sizer * 0.6;
    padding-right: $sizer * 0.6;
    padding-top: $sizer * 0.45;
    text-rendering: auto;
  }
}

// Mission map search text input
.leaflet-control.mission-search {
  background-color: $white;
  border: 0;
  border-radius: 3px;
  box-shadow: $box-shadow;
  height: $sizer * 2.5;
  padding-left: $sizer;
  width: calc(40vw - #{$sizer});
}

// @TODO: Hide element when map is shown
.map-shown {
  display: none;
}

.mission-location-map {
  height: 300px;
  width: 100%;
}

.badge-log-entry-type {
  @include badge-variant($primary-300);
}

.badge-log-entry-type-user {
  @include badge-variant($primary-400);
}

.badge-log-entry-type-system {
  @include badge-variant($primary-200);
}

.badge-log-entry-type-alert {
  @include badge-variant($primary);
}

.log-view-content {
  max-height: 500px;
  overflow-y: scroll;
}

// Mission log filters
.mission-log-filter-types {
  cursor: pointer;

  :not(.active) {
    @include badge-variant($gray-200);
    color: $gray-500;
  }
}

.badge {
  font-weight: 400;
}

.btn-add-new-mission {
  bottom: $spacer;
  position: fixed;
  right: $spacer;
  z-index: $zindex-fixed;
}

// Hack default color from leaflet css
.leaflet-container .leaflet-popup-content a {
  color: $white;
}
