@import "../custom-variables";

.onboarding {
  h1 {
    margin-left: $sizer * 2;
    margin-right: $sizer * 2;
    margin-top: $sizer * 4;
    text-align: center;
  }

  .page-content p:first-of-type {
    color: $primary;
    font-size: $font-size-lg;
    text-align: center;
  }
}
