/* Overwrite bootstrap variables */

/* Replace body font color*/
$body-color: #3f3d56;

/* Set primary color */
$purple: #685ff3;
$primary: $purple;

/* Set primary font */
$font-family-sans-serif: Roboto, Arial, Helvetica, sans-serif;

/* Set sizeing variable */
$sizer: 1rem;

/* Import all of Bootstrap */
@import '~bootstrap/scss/bootstrap';

/* Import partials */
@import 'onboarding';
@import 'navigation';

/* Add styling outside Bootstrap */
body {
  background-blend-mode: luminosity;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: $sizer / 2;
}

body > .container-fluid {
  box-shadow: $dropdown-box-shadow;
  min-height: calc(100vh - #{$sizer});
}

h1 {
  font-weight: $font-weight-normal;
}

table {
  .number {
    text-align: right;
  }
}
