{% extends 'base.html.twig' %}

{% block title %}Edit Mission{% endblock %}

{% block body %}
    <h1>Edit Mission</h1>

    {{ include('mission/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{{ encore_entry_script_tags('mission/edit') }}
{% endblock %}
