<!doctype html>
{# https://github.com/willdurand/BazingaJsTranslationBundle/blob/master/Resources/doc/index.md#usage #}
<html lang="{{ app.request.locale|split('_')[0] }}">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>
			{% block title %}{{ 'Urban data missions'|trans }}{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('base') }}
		{% endblock %}
	</head>
	<body class="{% block body_class %}{% endblock %}" {% block background_image %}{% endblock %}>
		{% block body %}
            {% block content %}{% endblock %}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('base') }}
		{% endblock %}
	</body>
</html>
